$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  font-family: "proxima-nova",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt",sans-serif;
}

.quote {
  font-family: "baskerville-urw",sans-serif;
  font-style: italic;
}
