$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  font-family: "proxima-nova",sans-serif;
  background-color: #E7E7E2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt",sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  color: #E91E8E;
}

.header {
  padding-left: 0;

  .quote {
    font-size: 30px;
    color: #90908D;
    margin-bottom: 30px;
  }
}

.navbar {
  position: fixed;
  opacity: 0;
  max-width: 200px;
  margin-right: 0;
  margin-left: 0;
  height: 220px;
  margin-top: calc(50vh - 110px);
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-default {
  border: none;
  background: white;
}

.quote {
  font-family: "baskerville-urw",sans-serif;
  font-style: italic;
  font-size: 18px;
}

.modal-content {
  border-radius: 0;
  background: #E7E7E2;
  padding-bottom: 1em;

  .btn-primary {
    margin-top: 1em;
  }
}

.btn-primary {
  color: #fff;
  background-color: rgba(241, 95, 121, 1);
  border-color: rgba(241, 95, 121, 1);
  transition: background-color 500ms;
  border-radius: 0;

  &:hover {
    background-color: rgba(255, 45, 121, 1);
    border-color: rgba(255, 45, 121, 1);
  }
}

.tn {
  a {
    text-decoration: none;
    width: 100%;
    position: relative;
    display: block;
    text-indent: -9999em;
    height: 100%;
  }

  &:before {
    display: block;
    opacity: 0.5;
    content: ' ';
    width: 109%;
    margin-left: -15px;
    height: 100%;
    position: absolute;
    background-image: rgba(178, 69, 146, 0.1);
    background-image: -webkit-linear-gradient(to bottom, rgba(178, 69, 146, 0.5) , rgba(241, 95, 121, 1));
    background-image: linear-gradient(to bottom, rgba(178, 69, 146, 0.5) , rgba(241, 95, 121, 1));
    border: 1px solid #CACACA;
    transition: opacity 1s;
  }

  &:hover:before {
    opacity: 1;
  }

  position: relative;
  overflow: hidden;
  color: white;
  height: 200px;
  background-position: top left;
  background-repeat: no-repeat;

  &.tombraider { background-image: url(../images/tn-tombraider.png) }
  &.gta { background-image: url(../images/tn-gta.png) }
  &.assassincreed { background-image: url(../images/tn-assassincreed.png) }
  &.callofduty { background-image: url(../images/tn-callofduty.png) }
  &.residentevil4 { background-image: url(../images/tn-residentevil4.png) }
  &.civilization { background-image: url(../images/tn-civilization.png) }

  .tn-title {
    position: absolute;
    margin-left: 23px;
    margin-top: 140px;
    pointer-events: none;

    &:after {
      position: relative;
      display: block;
      content: ' ';
      width: 20px;
      height: 2px;
      background-color: white;
      transition: 1s width;
    }
  }

  &:hover {
    .tn-title:after {
      width: 50px;
    }
  }
}

h4.next {
  margin: 3em 0;
}
